{{#paper-card}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>{{t "components.add-game.title"}}</h2>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  {{#paper-form onSubmit=(action "save") as |form|}}

    {{! game name }}
    <div class="layout-row layout-align-center-stretch flex">
      <div class="flex-90">
        {{form.input
          label=(t "components.add-game.form.name")
          value=name
          required=true
          onChange=(action (mut name))
          maxlength=80
        }}
      </div>
    </div>

    {{! blinds }}
    <div class="layout-row layout-align-center-stretch flex">
      <div class="flex-90">
        {{form.input
          label=(t "components.add-game.form.small")
          required=true
          value=small
          onChange=(action (mut small))
          min=1
          max=1000
        }}

        {{form.input
          label=(t "components.add-game.form.big")
          disabled=true
          value=big
          onChange=null
        }}

        {{form.input
          label=(t "components.add-game.form.round")
          required=true
          value=round
          onChange=(action (mut round))
          min=1
          max=40
        }}
      </div>
    </div>

    {{! game name }}
    <div class="layout-row layout-align-center-stretch flex">
      <div class="flex-90">
        {{#paper-checkbox value=ante onChange=(action (mut ante))}}
          {{t "components.add-game.form.ante"}}
        {{/paper-checkbox}}
      </div>
    </div>

    <div class="layout-row layout-align-center-stretch flex form-action">
      <div class="flex-90">
        {{#form.submit-button raised=true primary=true disabled=form.isInvalid}}
          {{t "components.add-game.form.submit"}}
        {{/form.submit-button}}
      </div>
    </div>

  {{/paper-form}}

{{/paper-card}}