<div class="card">

  {{! setup game }}
  <div class="card-content">
    <div class="row">
      {{! small blind }}
      <div class="input-field col s6">
        {{input elementId="small-blind" type="number" classNames="validate" value=small}}
        <label for="small-blind">Small Blind</label>
      </div>

      {{! big blind }}
      <div class="input-field col s6">
        {{input elementId="big-blind" type="number" classNames="validate" disabled="disabled" value=big}}
        <label for="big-blind">Big Blind</label>
      </div>
    </div>

    <div class="row">
      {{! round time }}
      <div class="input-field col s6">
        {{input elementId="round-time" type="number" classNames="validate" value=time}}
        <label for="round-time">Round Time (in minutes)</label>
      </div>

      {{! ante }}
      <div class="input-field col s6">
        {{input elementId="has-ante" type="checkbox" checked=ante}}
        <label for="has-ante">Ante?</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12 right-align">
        {{! start game}}
        <a class="waves-effect waves-light btn activator">Start Game</a>
      </div>
    </div>
  </div>

  {{! game controls }}
  <div class="card-reveal">

    <div class="row">
      <div class="col s10">
        <a class="waves-effect waves-light btn" {{action 'start'}}>
          <i class="{{if roundInProgress 'mdi-av-pause' 'mdi-av-play-arrow'}}"></i>
        </a>
        <a class="waves-effect waves-light btn" {{action 'stop'}}>
          <i class="mdi-av-stop"></i>
        </a>
      </div>
      <div class="col s2 grey-text">
        {{gameHours}}:{{gameMinutes}}:{{gameSeconds}}
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col l1 m1 s1 round-elapsed-time">
            {{liquid-bind roundHours}}
          </div>
          <span class="col">:</span>
          <div class="col l1 m1 s1 round-elapsed-time">
            {{liquid-bind roundMinutes}}
          </div>
          <span class="col">:</span>
          <div class="col l1 m1 s1 round-elapsed-time">
            {{liquid-bind roundSeconds}}
          </div>
        </div>
      </div>
      <div class="col s12">
        {{! TODO }}
        5/10 +0
      </div>
      <div class="col s12">
        {{! TODO }}
        10/20 +1
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        {{! here for posterity, used to close the revealed card }}
        <span class="card-title"></span>
      </div>
    </div>

  </div>

</div>
