<div class="row">
  <div class="col s12">
    <a class="waves-effect waves-light btn"><i class="material-icons right">play_arrow</i>Play</a>
    <a class="waves-effect waves-light btn"><i class="material-icons right">stop</i>End Game</a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h1>
      00:00:00 {{currentSmall}}/{{currentBig}}
      {{#if currentAnte}}
        +{{currentAnte}}
      {{/if}}
    </h1>
    <h5>
      Up Next: {{nextSmall}}/{{nextBig}}
      {{#if nextAnte}}
        +{{nextAnte}}
      {{/if}}
    </h5>
    <div id="game-time-elapsed">
      <div class="row">
        <div class="col l m1 s1 game-elapsed-time time">
          {{liquid-bind gameHours}}
        </div>
        <span class="col time">:</span>
        <div class="col l1 m1 s1 game-elapsed-time time">
          {{liquid-bind gameMinutes}}
        </div>
        <span class="col time">:</span>
        <div class="col l1 m1 s1 game-elapsed-time time">
          {{liquid-bind gameSeconds}}
        </div>
      </div>
    </div>
  </div>
</div>
