<div class="row">
  <div class="col s12">
    <a class="waves-effect waves-light btn"><i class="material-icons right">play_arrow</i>Play</a>
    <a class="waves-effect waves-light btn"><i class="material-icons right">stop</i>End Game</a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h1>
      00:00:00 {{currentSmall}}/{{currentBig}}
      {{#if currentAnte}}
        +{{currentAnte}}
      {{/if}}
    </h1>
    <h5>
      Up Next: {{nextSmall}}/{{nextBig}}
      {{#if nextAnte}}
        +{{nextAnte}}
      {{/if}}
    </h5>
    <h6>Elapsed: 00:00:00</h6>
  </div>
</div>
