{{#paper-card as |card|}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>{{game.name}}</h2>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}
        <span class="minutes">
          {{liquid-bind m class="animated-time"}}
        </span>
        <span class="seperator">
          {{#liquid-bind false class="animated-time"}}&#58;{{/liquid-bind}}
        </span>
        <span class="seconds">
          {{liquid-bind s class="animated-time"}}
        </span>
      {{/text.headline}}
      {{#text.subhead}}
        {{t "components.game-dashboard.round" round=game.level}}
      {{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{#card.actions}}
    {{#paper-button}}
      {{#paper-button warn=true onClick=(action "promptToEndGame")}}
        {{t "components.game-dashboard.stop"}}
      {{/paper-button}}
    {{/paper-button}}
    {{#paper-button}}
      {{#if game.running}}
        {{#paper-button raised=true primary=true onClick=(action "pause")}}
          {{t "components.game-dashboard.pause"}}
        {{/paper-button}}
      {{else}}
        {{#paper-button raised=true primary=true onClick=(action "play")}}
          {{t "components.game-dashboard.play"}}
        {{/paper-button}}
      {{/if}}
    {{/paper-button}}
  {{/card.actions}}
{{/paper-card}}

<div class="layout-row layout-xs-column">
  <div class="flex">
    {{#paper-card as |card|}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>{{t "components.game-dashboard.current"}}</h2>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}
            {{t "components.game-dashboard.blinds" small=currentSmall big=currentBig}}
          {{/text.headline}}
          {{#text.subhead}}
            {{#if game.ante}}
              {{t "components.game-dashboard.ante" ante=currentAnte}}
            {{else}}
              {{t "components.game-dashboard.noAnte"}}
            {{/if}}
          {{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
    {{/paper-card}}
  </div>

  <div class="flex">
    {{#paper-card as |card|}}
      {{#paper-toolbar class="secondary-toolbar"}}
        {{#paper-toolbar-tools}}
          <h2>{{t "components.game-dashboard.next"}}</h2>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}
            {{t "components.game-dashboard.blinds" small=nextSmall big=nextBig}}
          {{/text.headline}}
          {{#text.subhead}}
            {{#if game.ante}}
              {{t "components.game-dashboard.ante" ante=nextAnte}}
            {{else}}
              {{t "components.game-dashboard.noAnte"}}
            {{/if}}
          {{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
    {{/paper-card}}
  </div>

  <div class="flex">
    {{#paper-card as |card|}}
      {{#paper-toolbar class="secondary-toolbar"}}
        {{#paper-toolbar-tools}}
          <h2>{{t "components.game-dashboard.clock"}}</h2>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}
            {{! TODO HH:MM:SS }}
          {{/text.headline}}
          {{#text.subhead}}
            {{! TODO HH:MM:SS }}
          {{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
    {{/paper-card}}
  </div>
</div>

<span id="game-dashboard-animate-modal-origin"></span>
{{#if showEndGameModal}}
  {{#paper-dialog
    fullscreen=false
    onClose=(action "stop")
    openFrom="#game-dashboard-animate-modal-origin"
    closeTo="#game-dashboard-animate-modal-origin"
  }}

    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>{{t "components.game-dashboard.modal.title"}}</h2>
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action "closeEndGameModal")}}
          {{paper-icon icon="close"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      <p>{{t "components.game-dashboard.modal.description"}}</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button onClick=(action "closeEndGameModal")}}
        {{t "components.game-dashboard.modal.cancel"}}
      {{/paper-button}}
      {{#paper-button onClick=(action "stop")}}
        {{t "components.game-dashboard.modal.ok"}}
      {{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}