{{#paper-card}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2 data-test="title">{{t "components.games-list.title"}}</h2>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  {{#paper-list}}
    {{#each games as |game index|}}
      {{#paper-item class="md-3-line" onClick=(action "start" game) as |controls|}}
        <div class="md-list-item-text">
          <h3>{{game.name}}</h3>
          {{! <h4>small/big + ante - round time<h4> }}
          {{! <p>In Progress: Round 2 - MM:SS</p> }}
        </div>
        {{#controls.button secondary=true iconButton=true onClick=(action "delete" game)}}
          {{paper-icon "delete"}}
        {{/controls.button}}
      {{/paper-item}}

      {{#if (not-eq lastItemIndex index)}}
        {{paper-divider}}
      {{/if}}
    {{else}}
      <p class="no-games" data-test="no-games">
        {{t "components.games-list.empty"}}
      </p>
    {{/each}}

  {{/paper-list}}
{{/paper-card}}

<div class="layout-row layout-align-end-end">
  {{#paper-button raised=true fab=true accent=true onClick=(action "add")}}
    {{paper-icon "add" size=18}}
  {{/paper-button}}
</div>