<div class="container">
  <div class="row">
    <div class="col l6 m6 s12">
      <div class="section">
        {{md-btn text='Start' icon='mdi-av-play-arrow'}}
        {{md-btn text='Stop' icon='mdi-av-stop' isDisabled=true}}
      </div>
      <div clas="section">
        <h2>Current Blinds</h2>
        <h5>
          Round {{model.currentRound}}:
          {{model.currentSmallBlind}}/{{model.currentBigBlind}}
        </h5>
        <div class="divider"></div>
        <h2>Up Next</h2>
        <h5>
          Round {{model.nextRound}}:
          {{model.nextSmallBlind}}/{{model.nextBigBlind}}
        </h5>
      </div>
    </div>
    <div class="col l6 m6 hide-on-small-only">
      <table class="striped">
        <thead>
          <tr>
              <th data-field="round">#</th>
              <th data-field="smallBlind">Small Blind</th>
              <th data-field="bigBlind">Big Blind</th>
              <th data-field="ante">Ante</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.blinds as |round index|}}
            <tr>
              <td>{{index}}</td>
              <td>{{round.small}}</td>
              <td>{{round.big}}</td>
              <td>{{round.ante}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
