<div class="container">
  <div class="section">

    <h4>Create a New Poker Game</h4>

    <form {{action 'createGame' on='submit'}}>
      <div class="row">
        <div class="input-field col l12 m12 s12">
          {{md-input type='text' label="Game Name" value=name}}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 l6">
          {{md-input type='number' label="Small Blind" value=smallBlind}}
        </div>
        <div class="input-field col s12 m6 l6">
          {{md-input type='number' label="Big Blind" disabled=true value=bigBlind}}
        </div>
      </div>
      <div class="row">
        <div class="input-field col l12 m12 s12">
          {{md-check name="Ante?" checked=ante}}
        </div>
      </div>
      <div class="row right-align">
        <div class="col l12 m12 s12">
          {{#link-to 'games.index'}}{{md-btn text='Cancel' buttonType='flat'}}{{/link-to}}
          <span id="add-game-submit" class="{{if isCreating 'hide' ''}}">
            {{md-btn-submit text='Create Game'}}
          </span>
          <span id="add-game-loading" class="{{if isCreating '' 'hide'}}">
            {{md-loader mode="circular" size="small"}}
          </span>
        </div>
      </div>
    </form>

  </div>
</div>
